[buildout]
eggs-directory = eggs
develop = . 
allow-picked-versions = true
newest = true
versions = versions
extensions = mr.developer
sources-dir = src
sources = sources
auto-checkout = uvcsite
extends = 
    https://raw.githubusercontent.com/novareto/uvcsite/master/dolmen-0.6.2.cfg
    https://raw.githubusercontent.com/zopefoundation/groktoolkit/3.0.0a1/grok.cfg
parts = 
    test 
    coverage
    test-coverage
    code-analysis

[versions]
zope.i18n = 4.3.0

[test]
recipe = zc.recipe.testrunner
eggs = 
    ukh.adhoc[test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '--auto-color', '--auto-progress']

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    ${buildout:directory}/bin/coverage run --source=${buildout:directory}/src/ukh.adhoc bin/test
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 90%.
output = ${buildout:directory}/bin/test-coverage
mode = 755

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src
flake8-max-complexity = 50
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg,skins
flake8-extensions =
pre-commit-hook = False

[sources]
uvcsite = git https://github.com/novareto/uvcsite.git
