.notify-badge{
  position: absolute;
  right: 20px;
  top: 10px;
  background: red;
  text-align: center;
  border-radius: 30px;
  color: white;
  padding: 10px 19px;
  font-size:22px;
  font-weight: bold;
}

#personalmenu li#personalpanelentry {
    background: none!important;
    padding-left: 0px;
}
